{% extends "home_base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="site-wrapper area">

      <div class="site-wrapper-inner area"  style="background-image:url({% static 'pic/back.jpg' %})">

        <div class="cover-container">

 <!--         <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><strong>ZDXS</strong></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Summury</a></li>
                  <li><a href="#">About us</a></li>
                </ul>
              </nav>
            </div>
          </div>
-->
          <div class="inner" style="color:white">
            <h1 class="cover-heading">歡迎來到扎堆學社</h1>
            <p class="lead">we are the GPA helper!</p>
            <p class="lead">
              
              <a href="#"><button class="button button-rounded button-plain button-small-caps button-border button-large">加入我們</button><a>
              
              <a href="#introduction"><button class="button button-rounded button-plain button-small-caps button-border button-large">瞭解更多</button></a>
            </p>
            </p>
          </div>

          

        </div>

      </div>
      
    </div>
    <section class="spe" style="padding:18px 0px 18px;background:#CCC2C2;color:#B46969">
    <a name="introduction"></a>
      <div class="container">
        <div class="spe">
        <strong>快來加入我們吧</strong>
        </div>
      </div>
      </a>
    </section>
     <div class="jumbotron" style="margin-bottom:0px;">

    <div class="row unibac">
    
    <section class="sheet shett-grey" >
        <div class="container bottonBigger"  >
          <h2 >簡介</h2>
          <div class="col-md-6">
            <p class="intro" style="color:#8A7474">这个组织在哪里？只要我们的人聚在一起，扎起堆来，你就能找到它。这就是“扎堆学社”，一个专注于学术的自由组织，一个出身草根却造就精英的组织，一个实实在在奉献学生的组织。不要问我们能走多远，敢问路在何方，路在脚下！</p>
          </div>
        
        <div class="col-md-6">
          <p class="intro" style="color:#8A7474">资源来自于优秀的学生。他们有的学习成绩力拔头筹，有的学生工作独当一面，有的更是身怀绝技，卓尔不群。资源来自于四面八方的支持。有身为国家奖学金获得者的学长学姐为我们指引航向，有出色的老师和多位辅导员帮我们献计献策。资源更来自于优秀的组织建制。这个平台出身草根，组织自由，人人平等，没有过多的管制束缚，每次活动都确保让大家确有收获，不虚此行。</p>
        </div>
      </div>
      </div>
    </div>  
   </section>
   
   <section style="padding: 30px 0 98px;background-color: #CCC2C2;">
    <div class="container" style="backgroud:#EEE">
    <div class="row"  style="color:#754A4A;">
      <h2 class="bottonBigger">下設分組</h2>
      
      <div class="col-md-3 col-lg-3">
        <h2>資料組</h2>
        <hr class="bar">
        <p>陆陆续续哒~学弟学妹们的录取通知书就要到手了吧？想了解北化的各种新情况么？报道？入学考试？军训？优秀生选拔？转专业？选课？方方面面，扎堆学社的学长学姐为你详细解答！l</p>
        <button class="button button-primary button-rounded button-small">more》</button>
      </div>
      
      <div class="col-md-3 col-lg-3">
        <h2>授課組</h2>
        <hr class="bar">
        <p>陆陆续续哒~学弟学妹们的录取通知书就要到手了吧？想了解北化的各种新情况么？报道？入学考试？军训？优秀生选拔？转专业？选课？方方面面，扎堆学社的学长学姐为你详细解答！</p>
        <button class="button button-primary button-rounded button-small">more》</button>
      </div>
       
      <div class="col-md-3 col-lg-3">
        <h2>宣傳組</h2>
        <hr class="bar">
        <p>陆陆续续哒~学弟学妹们的录取通知书就要到手了吧？想了解北化的各种新情况么？报道？入学考试？军训？优秀生选拔？转专业？选课？方方面面，扎堆学社的学长学姐为你详细解答！</p>
        <button class="button button-primary button-rounded button-small">more》</button>
      </div>
     
      <div class="col-md-3 col-lg-3">
        <h2>沙龍</h2>
        <hr class="bar">
        <p>陆陆续续哒~学弟学妹们的录取通知书就要到手了吧？想了解北化的各种新情况么？报道？入学考试？军训？优秀生选拔？转专业？选课？方方面面，扎堆学社的学长学姐为你详细解答！</p>
        <button class="button button-primary button-rounded button-small">more》</button>
      </div>
    </div>
    </div>
    </section>
    
{% endblock %}